@import "~@/style/variable.scss";

#app {
  #content_right {
    width: $contentRightItemWidth;
    margin-left: $contentRightMarginLeft;
    float: right;

    .content_right_item {
      background-color: $contentRightItemBgColor;
      height: auto;
      margin: 0 0 10px 0;
      box-shadow: 2px 0 5px #d5d5d5, -2px 0 5px #d5d5d5;
      padding: 15px;

      .content_right_item_title {
        font-size: $homeItemTileStuffFontSize;
        color: $homeItemTileStuffFontColor;
      }
    }

    #content_right_latest {
      .content_right_latest_item {
        display: table;
        margin: 10px auto 10px 0;
        width: 90%;

        .content_right_latest_post_cover {

        }

        .content_right_latest_post_item {
          display: table-cell;
          vertical-align: top;

          .content_right_latest_post_date {
            display: block;
            font-size: $homeItemTileStuffFontSize;
            color: $homeItemTileStuffFontColor;
          }

          .content_right_latest_post_title {
            display: block;
            font-size: 14px;
          }
        }
      }
    }

    #content_right_tags {
      #content_right_tags_square {
        overflow-wrap: break-word;
        .content_right_tags_item {
          margin-right: 10px;
          .content_right_tag_name {
            font-size: 12px;
            color: #393939;
            margin-right: 2px;
            background-color: #f2f2f2;
            border-radius: 4px;
            padding: 3px;
          }

          .content_right_tag_total {
            font-size: 12px;
            color: #393939;
            background-color: #e8e8e8;
            border-radius: 4px;
            padding: 3px;
          }
        }
      }
    }

  }
}